:root {
    --pomp-power: #a167a5ff;
    --lemon-lime: #e4ff1aff;
    --federal-blue: #0a014fff;
    --white: #ffffff;
    --carolina-blue: #83b5d1ff;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--federal-blue);
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1, h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-family: "League Spartan";
}

.special {
    background: rgb(0,247,255);
    background: -moz-linear-gradient(160deg, rgba(0,247,255,1) 0%, rgba(230,255,0,1) 100%);
    background: -webkit-linear-gradient(160deg, rgba(0,247,255,1) 0%, rgba(230,255,0,1) 100%);
    background: linear-gradient(160deg, rgba(0,247,255,1) 0%, rgba(230,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f7ff",endColorstr="#e6ff00",GradientType=1);
    color: var(--federal-blue);
    border-radius: 30px;
    padding: 8px 20px;
    opacity: .9;
    transition: ease all .3s;
}
.special:hover {
    color: var(--federal-blue) !important;
    opacity: 1;
    transition: ease all .3s;
    transform: scale(1.05);
}


header {
    background: var(--white);
    color: var(--federal-blue);
    padding: 15px 30px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    margin-top: 6px;
    height: 30px;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    color: var(--federal-blue);
    text-decoration: none;
    font-weight: 700;
    padding: 8px 0px;
    transition: color 0.3s;
}

header nav a:hover {
    color: var(--lemon-lime);
}

.hero {
    /*background: linear-gradient(135deg, var(--carolina-blue), var(--pomp-power));*/
    color: var(--white);
    text-align: center;
    padding: 0px 0px;
    position: relative;
    overflow: hidden;
}
.hero-content {
    position: relative;
    z-index: 1;
    text-align: left;
    background: rgba(0,0,0,.7);
    padding: 0;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 20px;
} 

.hero h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px black;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px black;
}

.hero button {
    background: var(--lemon-lime);
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: ease all 0.3s;
}

.half {
    width: 50%;
}
.fourty {
    width: 40%;
}

.mock-card {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    background: rgb(217,217,217);
    background: -moz-linear-gradient(160deg, rgba(217,217,217,0.2987788865546218) 0%, rgba(115,115,115,0.3) 100%);
    background: -webkit-linear-gradient(160deg, rgba(217,217,217,0.2987788865546218) 0%, rgba(115,115,115,0.3) 100%);
    background: linear-gradient(160deg, rgba(217,217,217,0.2987788865546218) 0%, rgba(115,115,115,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9d9d9",endColorstr="#737373",GradientType=1);
}
.mock-search {
    background: white;
    border-radius: 50px;
    padding: 0px 20px;
    color: black;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-size: 10px !important;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}  
.mock-search p {
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    font-size: 14px !important;
    margin-bottom: 15px !important;
}
.mock-result {
    background: white;
    border-radius: 20px;
    padding: 20px;
}
.mock-result p {
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    font-size: 12px !important;
    margin-bottom: 15px !important;
    color: #555;
}
.mock-result .img-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.mock-result .img1 {
    width: 50%;

}
.mock-result .img2 {
    width: 50%;
}

.card-img .img1 {
    width: 40%;

}
.card-img .img2 {
    width: 40%;
}

.hero button:hover {
    background: #d4ef1a;
    transform: scale(1.05);
}

.section {
    padding: 60px 20px;
}

.summary, .what-we-do {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.summary img, .what-we-do img {
    flex: 1 1 40%;
    max-width: 600px;
}

.summary .content, .what-we-do .content {
    flex: 1 1 55%;
}

.trusted-by {
    width: 100%;
}
.trusted-by img {
    padding: 10px;
    height: 60px;
    transition: ease all .6s;
    filter: grayscale(1) contrast(1) brightness(1);
    -webkit-filter: grayscale(100%);
}
  
.trusted-by img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: ease all .6s;
    cursor: pointer;
}

.stats {
    background: #eee;
    color: var(black);
    text-align: center;
    padding: 100px 20px;
}

.stats h2 {
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
}
.stats p {
    margin-bottom: 40px;
}

.stats .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.stats .grid div {
    background: transparent;
    padding: 20px;
    
}
.count {
    font-size: 40px;
    font-weight: bold;
    color: var(--carolina-blue);
}
.static-count {
    font-size: 40px;
    font-weight: bold;
    color: var(--carolina-blue);

}

.reverse {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
}

.rel {
    width: 400px; height: 350px; position: relative;
}

.what-we-do .card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    font-family: "Lato";
}

.card-img {
    width: 45%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.third {
    width: 30%;
}
.what-we-do .card .content {
    width: 40%;
    max-width: 600px;
}
.ft {
    padding: 20px;
    background: var(--federal-blue);
    color: var(--white);
}
footer {
    padding: 20px;
    background: var(--federal-blue);
    color: var(--white);
}
footer hr {
    border: .25px solid rgb(54, 54, 115);
}
.footerflex {
    margin: 0;
    padding: 0;
    text-align: left;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
.social-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.social {
    border-radius: 50%;
    padding: 10px;
    color: var(--federal-blue);
    background: var(--carolina-blue);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease all .6s !important;
}
.social:hover {
    background: rgb(111, 159, 187);
    transform: scale(1.05);
    cursor: pointer;
    transition: ease all .6s !important;
}
.footerflex li a {
    color: var(--carolina-blue);
    text-decoration: none;
}

/* Section Titles */
.section-title {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--federal-blue);
    text-align: center;
}

/* Section Descriptions */
.section-description {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--federal-blue);
    text-align: center;
    line-height: 1.6;
}

.who-we-are {
    padding: 100px 20px;
}

.who-we-are .inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
}
/* Info Cards */
.info-card {
    background: var(--carolina-blue);
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: ease all .6s !important;
    width: 33%;

}

.info-card:hover {
    transform: translateY(-5px) !important;
    background: rgb(111, 159, 187);
    transition: ease all .6s !important;
    
}

.info-title {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--white);
}

.info-description {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.5;
}

/* Contact Section */
.contact-us {
    background: rgb(245,97,166);
background: -moz-linear-gradient(170deg, rgba(245,97,166,1) 0%, rgba(14,17,101,1) 100%);
background: -webkit-linear-gradient(170deg, rgba(245,97,166,1) 0%, rgba(14,17,101,1) 100%);
background: linear-gradient(170deg, rgba(245,97,166,1) 0%, rgba(14,17,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f561a6",endColorstr="#0e1165",GradientType=1);
    color: var(--white);
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-us img {   
    width: 40%;
    max-width: 500px;
}

.contact-button {
    background: var(--lemon-lime);
    border: none;
    color: var(--federal-blue);
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.contact-button:hover {
    background: #d4ef1a;
    transform: scale(1.05);
}

.main-box {
    padding: 70px 20px;
}
.main-box h1 {
    font-size: 3rem;
}
.main-box img {
    width: 50%;
    max-width: 600px;
}
.platform-card-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
}

.platform-card {
    padding: 20px;
    width: 45%;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: ease all .6s !important;

}

.platform-card:hover {
    transform: translateY(-5px) !important;
    background: #ddd;
    transition: ease all .6s !important;
    
}

/* Marquee container */
.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
}

/* Each text or card */
.loop-text {
    white-space: nowrap;
    font-size: 1.2rem;
    color: #333;
    display: flex;
    align-items: center;
}

/* Marquee content (scrolling items) */
.marquee-content {
    display: flex;
    gap: 20px;
    animation: scroll-left 20s linear infinite;
}

.reverse-marquee {
    display: flex;
    gap: 20px;
    animation: scroll-right 20s linear infinite;
}

/* Animation keyframes with starting position */
@keyframes scroll-left {
    0% {
        transform: translateX(-25%);  /* Start already partway through */
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Animation keyframes with starting position */
@keyframes scroll-right {
    0% {
        transform: translateX(-100%);  /* Start already partway through */
    }
    100% {
        transform: translateX(-25%);
    }
}


.data-card {
    padding: 10px 20px;
    border-radius: 5px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: ease all .6s !important;

}

.data-card img {
    padding: 10px;
    height: 60px;
    transition: ease all .6s;
    filter: grayscale(1) contrast(1) brightness(1);
    -webkit-filter: grayscale(100%);
}
  
.data-card img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: ease all .6s;
    cursor: pointer;
}

.vert-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
}
.vert-card {
    width: 33%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: .9;
    transition: ease all .6s !important;

}

.vert-card:hover {
transform: translateY(-5px) !important;
opacity: 1;
transition: ease all .6s !important;

}
.vert-card p {
    margin: 0;
    padding: 10px 10px 30px 10px;
    font-size: 1rem;
    line-height: 1rem;
    color: #777;
    font-weight: 300;
}
.vert-card h3 {
    margin: 0;
    padding: 30px 10px 10px 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;   
}
.vert-card img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    object-fit:cover;
    height: 250px;
}

.compare-cont {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    flex-grow: 1;
}
.leftalign {
    text-align: left;
    font-size: .8rem;
    line-height: 1.5rem;
}
.num {
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    text-align: center;
    height: 20px;
    width: 20px;
}
.compare-card .banner {
    border-radius: 10px;
    padding: 10px;
}
.compare-card {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}
.compare-card h2 {
    padding: 5px 40px;
    width: auto;
    border-radius: 10px;
}
.compare-card h3 {
    padding: 0;
    margin: 0;

}

@media (max-width: 768px) {
    .platform-card {
        width: 100%;
    
    }
    .footerflex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footerflex h1 {
        text-align: center;
    }
    .social-cont {
        justify-content: center;
        margin-bottom: 20px;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .half {
        margin-bottom: 50px;
    }
    .half, .fourty {
        width: 100%;
    }
    .stats .grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }    
    .contact-us {
        flex-direction: column;
        text-align: center;
        padding: 40px 10px 0px 10px;
    }
    .contact-us img {
        width: 100%;
        max-width: 100%;
    }
    .summary {
        text-align: center;
    }
    .summary, .what-we-do, .what-we-do .card {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
    .summary img {
        max-width: 100%;
    }
    .content {
        width: 100% !important;
    }
    .card-img {
        width: 100%;
        border-radius: 10px;
    }
    .rel {
        width: 100%;
    }
    .rel-inner {
        width: 100% !important;
    }
    .card, .what-we-do, .card-img, .who-we-are, .inner {
        padding: 0 !important;
        margin: 0;
        text-align: center;
    }
    .who-we-are .inner {
        flex-direction: column;
        gap: 0px !important;
    }
    .info-card {
        width: auto;
    }
    .vert-cards {
        flex-direction: column;
    }
    .vert-card {
        width: 100%;
    }
    .compare-cont {
        flex-direction: column;
    }
    .compare-card {
        width: auto;
    }

}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
